@model IEnumerable<BasicInventoryManagementSystem.Models.Product>

@{
    ViewData["Title"] = "Product List";
}

<style>
    .table td, .table th {
        text-align: center;
    }
    .table tbody tr {
        border-bottom: 2px solid #dadada;
    }

    .table {
        border: 2px solid #dadada; 
        border-radius: 0.25rem; 
    }

        .table thead th {
            border-bottom: 1.5px solid #dadada; 
        }
</style>

<div class="d-flex justify-content-between mb-3">
    <h4>Product List</h4>
    <div class="d-flex justify-content-between gap-3">
        <form asp-action="Index" method="get" class="form-inline d-flex justify-content-lg-end">
            <input type="text" name="search" class="form-control" placeholder="Search Products" />
            <button type="submit" class="btn btn-secondary btn-sm ">Search</button>
        </form>
        <a asp-action="Create" class="btn btn-primary btn-sm  ">Add Product</a>
    </div>
</div>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
            {
                <th scope="col">Actions</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.CategoryName</td>
                <td>@product.Price.ToString("C")</td>
                <td>@product.Quantity</td>
                @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
